@using LMS.Utilities;
@model LMS.Models.BookCodeMaster
@{
   Layout = null;
   ViewBag.Title = "Add BookCode";
}
@using (Html.BeginForm("InsertUpdateOrDelete", "BookCodeMaster", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
   @Html.HiddenFor(model => model.Id)
   <div class="form-group">
      @Html.LabelFor(model => model.BookId, new { @class = "control-label" })
      @Html.DropDownListFor(model => model.BookId, DropdownListHelper.DDLForBookMaster(), "Select Book", new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.BookId)
   </div>
   <div class="form-group">
      @Html.LabelFor(model => model.BookCode, new { @class = "control-label" })
      @Html.EditorFor(model => model.BookCode, new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.BookCode)
   </div>
   <div>
      <span class="mx-3">
         @Html.CheckBoxFor(model => model.IsIssued, new { htmlAttributes = new { @type = "checkbox" } })
         @Html.LabelFor(model => model.IsIssued, new { @class = "control-label" })
      </span>
      <span class="mx-3">
         @Html.CheckBoxFor(model => model.IsLost, new { htmlAttributes = new { @type = "checkbox" } })
         @Html.LabelFor(model => model.IsLost, new { @class = "control-label" })
      </span>
      <span class="mx-3">
         @Html.CheckBoxFor(model => model.IsDamaged, new { htmlAttributes = new { @type = "checkbox" } })
         @Html.LabelFor(model => model.IsDamaged, new { @class = "control-label" })
      </span>
   </div>
   <hr class="mb-2 mt-0"/>
   <div class="form-group float-right m-0">
      <button type="submit" class="btn btn-primary">
         Save changes</button>
      <button type="reset" class="btn btn-secondary">
         Reset</button>
      <button type="button" class="btn btn-danger" onclick="closeJQryDlg()">
         Close</button>
   </div>
   @section Scripts {
      @Scripts.Render("~/bundles/jqueryModal")
   }
}