<!DOCTYPE html>
<html lang="en">
<head>
   <title>Library Management System</title>
   <!-- Bootstrap core CSS -->
   <link href="../../Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body style="background-color: Black">
   @model LMS.UserMaster
   @{
      ViewBag.Title = "Login - Library Management System";
      //Layout = "~/Views/Shared/HmePage.cshtml";
   }
   @using (Html.BeginForm())
   {
      @Html.AntiForgeryToken()
      @Html.ValidationSummary(true)
      // -------------- NAVIGATION BAR STARTS HERE ---------------
      <nav id="main-navbar" class="container navbar navbar-expand-sm navbar-dark bg-dark">
         @*<a class="navbar-brand" href="#">Library Management System</a>*@
         <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#NavbarMain" aria-controls="NavbarMain" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="navbar-collapse collapse" id="NavbarMain" style="">
           <ul class="navbar-nav mr-auto" style="margin-left:10px";>
             <li class="nav-item active">
               <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
             </li>
             <li class="nav-item active">
               <a class="nav-link" href="#">Contact Us</a>
             </li>
             <li class="nav-item active">
               <a class="nav-link" href="#">About Us</a>
             </li>
           </ul>
         </div>
         <div class="nav-item form-inline my-2 my-md-0">
            <a class="nav-link" id="Login" data-toggle="modal" data-target="#LoginMain" href="#">Login</a>
         </div>
      </nav>
      // -------------- NAVIGATION BAR ENDS HERE ---------------
  
            <div id="LoginMain" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false"
            style="border: 5px; box-shadow: 1px 1px 10px #fff; border-radius: 25px;">
         <div class="modal-dialog modal-sm" style="border: 5px">
            <center>
               <div class="modal-content" style="background-color: Black">
                  @*-------------- HEADER IMAGE ---------------*@
                  <img src="../../Content/Images/Login.png" class="card-img-top" style="width: 144px;
                     height: 144px; margin-top: 5px;" />
                  @*-------------- HEADER IMAGE ---------------*@
                  
                  @*-------------- VALIDATION MESSAGE ---------------*@
                  <div class="form-control alert alert-danger alert-dismissible fade show" style="display: none;
                     margin: 10px;" role="alert">
                     @Html.ValidationMessage("AuthenticationFailed", new { @id = "", @style = "color:red;!important" })<hr />
                     @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                     @Html.HiddenFor(model => model.UserId)
                  </div>
                  @*-------------- VALIDATION MESSAGE ---------------*@
                  
                  @*-------------- INPUT SECTION ---------------*@
                  <div class="input-group" style="margin-top: 10px;">
                     <div class="input-group-prepend">
                        <div class="input-group-text">
                           UserName
                        </div>
                     </div>
                     @Html.TextBoxFor(model => model.UserName, new { @id = "username", @class = "form-control", @placeholder = "" })
                     @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                  </div>
                  <div class="input-group" style="margin-top: 10px;">
                     <div class="input-group-prepend">
                        <div class="input-group-text">
                           Password
                        </div>
                     </div>
                     @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "", @type = "password" })
                     @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                  </div>
                  @*-------------- INPUT SECTION ---------------*@
                  
                  @*-------------- CONTROL SECTION ---------------*@
                  <div class="btn-group" style="margin-top: 10px;">
                     <input type="submit" value="Log-In" class="btn btn-primary btn-sm" style="padding: 5px;
                        width: 100px;" />
                     <input type="reset" value="Close" class="btn btn-danger btn-sm" style="padding: 5px;
                        width: 100px;" />
                  </div>
                  <div style="color: White; margin-top: 10px;">
                     <span>
                        <label>
                           <input type="checkbox" value="remember-me" />
                           Remember me
                        </label>
                     </span><span>
                        <button type="button" class="btn btn-link">
                           Forgot Password?</button>
                     </span>
                  </div>
                  @*-------------- CONTROL SECTION ---------------*@
               </div>
            </center>
         </div>
      </div>

          
@*      <div id="LoginMain" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false"
            style="border: 5px; box-shadow: 1px 1px 10px #fff; border-radius: 25px;">
         <div class="modal-dialog modal-sm" style="border: 5px">
            <center>
               <div class="modal-content" style="background-color: Black">
                  @*-------------- HEADER IMAGE ---------------*@
                  <img src="../../Content/Images/Login.png" class="card-img-top" style="width: 144px;
                     height: 144px; margin-top: 5px;" />
                  @*-------------- HEADER IMAGE ---------------*@
                  
                  @*-------------- VALIDATION MESSAGE ---------------*@
                  <div class="form-control alert alert-danger alert-dismissible fade show" style="display: none;
                     margin: 10px;" role="alert">
                     @Html.ValidationMessage("AuthenticationFailed", new { @id = "", @style = "color:red;!important" })<hr />
                     @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                     @Html.HiddenFor(model => model.UserId)
                  </div>
                  @*-------------- VALIDATION MESSAGE ---------------*@
                  
                  @*-------------- INPUT SECTION ---------------*@
                  <div class="input-group" style="margin-top: 10px;">
                     <div class="input-group-prepend">
                        <div class="input-group-text">
                           UserName
                        </div>
                     </div>
                     @Html.TextBoxFor(model => model.UserName, new { @id = "username", @class = "form-control", @placeholder = "" })
                     @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                  </div>
                  <div class="input-group" style="margin-top: 10px;">
                     <div class="input-group-prepend">
                        <div class="input-group-text">
                           Password
                        </div>
                     </div>
                     @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "", @type = "password" })
                     @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                  </div>
                  @*-------------- INPUT SECTION ---------------*@
                  
                  @*-------------- CONTROL SECTION ---------------*@
                  <div class="btn-group" style="margin-top: 10px;">
                     <input type="submit" value="Log-In" class="btn btn-primary btn-sm" style="padding: 5px;
                        width: 100px;" />
                     <input type="reset" value="Close" class="btn btn-danger btn-sm" style="padding: 5px;
                        width: 100px;" data-dismiss="modal" />
                  </div>
                  <div style="color: White; margin-top: 10px;">
                     <span>
                        <label>
                           <input type="checkbox" value="remember-me" />
                           Remember me
                        </label>
                     </span><span>
                        <button type="button" class="btn btn-link">
                           Forgot Password?</button>
                     </span>
                  </div>
                  @*-------------- CONTROL SECTION ---------------*@
               </div>
            </center>
         </div>
      </div>
*@   }
   <!-- jQuery -->
   <script src="../../Scripts/jquery-3.5.1.js" type="text/javascript"></script>
   <!-- Bootstrap tooltips -->
   <script src="../../Scripts/bootstrap.bundle.js" type="text/javascript"></script>
</body>
</html>
