@model LMS.Models.Login
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Login", "Login", FormMethod.Post, new { }))
{
   @*@Html.AntiForgeryToken()*@
  
   <div id="login-modal" class="modal fade">
      <div class="modal-dialog modal-sm">
         <center>
            <div class="modal-content">
               @Html.ValidationSummary(true)
               <center>
                  <img id="user-image" src="../../Content/Images/Login.png" class="card-img-top mb-3" />
               </center>
               
               <label class="error-msg">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
               @Html.ValidationMessageFor(x => x.LoginErrorMessage)

               @*--------------------------------------------
               LOGIN SECTION
               --------------------------------------------*@
               <div id="div-login">
                  @*-------------- INPUT SECTION ---------------*@
                  <div class="input-group mb-2">
                     <div class="input-group-prepend">
                        <span class="input-group-text">UserName</span>
                     </div>
                     @Html.TextBoxFor(model => model.UserName, new { @id = "username", @class = "form-control" })
                  </div>
                  @Html.ValidationMessageFor(x => x.UserName)
                  <div class="input-group mb-2">
                     <div class="input-group-prepend">
                        <span class="input-group-text">Password</span>
                     </div>
                     @Html.PasswordFor(model => model.Password, new { @id = "password", @type = "password", @class = "form-control" })
                  </div>
                  @Html.ValidationMessageFor(x => x.Password)
                  @*--------------- CONTROL BUTTONS -----------------*@
                  <div class="btn-group">
                     <input id="Login" value="Login" type="Submit" class="btn btn-primary btn-sm control-btn"
                        readonly />
                     <input id="close-modal" type="reset" value="Close" class="btn btn-danger btn-sm control-btn"
                        readonly />
                  </div>
                  <div style="color: DarkGreen;">
                     <span>
                        <label>
                           <input type="checkbox" value="remember-me" />
                           Remember me
                        </label>
                     </span><span>
                        <button id="forgot-pwd" type="button" class="btn btn-link">
                           Forgot Password?</button>
                     </span>
                  </div>
                  @*-------------- CONTROL SECTION ---------------*@
               </div>
               @*--------------------------------------
               LOGIN SECTION
               FORGOT PASSWORD SECTION
               ------------------------------------------*@
               <div id="div-forgot-pwd" style="display: none">
                  <div id="div-email" class="input-group mb-3" data-toggle="tooltip" data-placement="right"
                     title="Please enter Email Address...">
                     <div class="input-group-prepend">
                        <div class="input-group-text">
                           E-Mail
                        </div>
                     </div>
                     @Html.TextBoxFor(model => model.Email, new { @id = "email", @class = "form-control" })
                  </div>
                  @*-------------- INPUT SECTION ---------------*@ @*-------------- CONTROL SECTION ---------------*@
                  <div class="btn-group mb-3">
                     <input id="send-email" value="Send e-mail" class="btn btn-success btn-sm" style="padding: 5px;
                        margin-right: 10px; width: 100px;" />
                     <input id="close-modal-2" value="Close" class="btn btn-danger btn-sm" style="padding: 5px;
                        margin-left: 10px; width: 100px;" />
                  </div>
                  <input id="goto-login" value="Go to Login" class="btn btn-primary btn-sm" />
                  @*-------------- CONTROL SECTION ---------------*@
               </div>
               @*---------------------------------------------
               FORGOT PASSWORD SECTION 
               SET PASSWORD SECTION
               ----------------------------------------------*@
               <div id="div-set-pwd" style="display: none">
                  <div id="div-password-1" class="input-group" data-toggle="tooltip" data-placement="right"
                     title="Please enter Password...">
                     <div class="input-group-prepend">
                        <div class="input-group-text">
                           Enter Password
                        </div>
                     </div>
                     @Html.TextBoxFor(model => model.Password, new { @id = "password-1", @class = "form-control", @required = "required", @type = "password" })
                  </div>
                  <div id="div-password-2" class="input-group" data-toggle="tooltip" data-placement="right"
                     title="Please confirm Password...">
                     <div class="input-group-prepend">
                        <div class="input-group-text">
                           Confirm Password
                        </div>
                     </div>
                     @Html.PasswordFor(model => model.Password, new { @id = "password-2", @class = "form-control", @required = "required", @type = "password" })
                  </div>
                  @*--------------------------------------------
                  INPUT SECTION
                  CONTROL SECTION
                  ---------------------------------------------*@
                  <div class="btn-group mb-3">
                     <input id="set-pwd" value="Set Password" class="btn btn-primary btn-sm" style="padding: 5px;
                        margin-right: 10px; width: 100px;" />
                     <input id="close-modal-3" value="Close" class="btn btn-danger btn-sm" style="padding: 5px;
                        margin-left: 10px; width: 100px;" />
                  </div>
                  <input id="goto-login-2" value="Go To Login" class="btn btn-primary btn-sm" />
                  @*-------------- CONTROL SECTION ---------------*@
               </div>
            </div>
         </center>
      </div>
   </div>
}