@model LMS.Models.AuthorMaster
@{
   Layout = null;
   ViewBag.Title = "Add Author";
}

@using (Html.BeginForm("InsertUpdateOrDelete", "AuthorMaster", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
   @Styles.Render("~/bundles/jqueryModal")

   @Html.HiddenFor(model => model.Id)

   <div class="form-group">
      @Html.LabelFor(model => model.Name, new { @class = "control-label" })
      @Html.EditorFor(model => model.Name, new { @class = "form-control" })
      @Html.ValidationMessageFor(model => model.Name)
   </div>
   <hr class="mb-2 mt-0"/>
   <div class="form-group float-right m-0">
      <button type="submit" class="btn btn-primary">Save changes</button>
      <button type="reset" class="btn btn-secondary">Reset</button>
      <button type="button" class="btn btn-danger" onclick="closeJQryDlg()">Close</button>
   </div>
   @section Scripts {
      @Scripts.Render("~/bundles/jqueryModal")
   }
}