@model LMS.Models.AuthorMaster
@{
    Layout = null;
    ViewBag.Title = "Add Author";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

@using (Html.BeginForm("InsertUpdateOrDelete", "AuthorMaster", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
   @Html.HiddenFor(model => model.Id)
   <div class="modal-dialog modal-dialog-centered .modal-dialog-scrollable" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">Author Master</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <div class="form-group row align-items-end">
               @Html.LabelFor(model => model.Name, new { @class = "control-label" })
               @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
               @Html.ValidationMessageFor(model => model.Name)
            </div>
         </div>
         <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>

   @section Scripts {
      @Scripts.Render("~/bundles/jquery")
      @Scripts.Render("~/bundles/jqueryval")
      @Scripts.Render("~/bundles/bootstrap")
   }
}
